@use './variable' as *;

.banner{
    position: relative;
    &::before{
        content:"";
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        background: #001714;
        background: linear-gradient(180deg, $color-brand-900 10%, rgba($color-brand-900,0) 100%);
        z-index: 2;
        left:0;
    }
}
